<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jan Stolarek - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/index.html">Jan Stolarek</a>
            </div>
            <nav>
                <a href="/pages/publications.html">Publications</a>
                <a href="/pages/projects.html">Projects</a>
                <a href="/pages/personal.html">Personal</a>
                <a href="/pages/links.html">Links</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>
    </body>
</html>
