<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Jan Stolarek - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link rel="stylesheet" href="/css/syntax.css" />
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/index.html">Jan Stolarek</a>
            </div>
            <nav>
                <a href="/projects.html">Projects</a>
                <a href="/publications.html">Publications</a>
                <a href="/personal.html">Personal</a>
                <a href="/blog.html">Blog</a>
                <a href="/feed.xml" class="rsslink"><img src="/images/rss_icon.png" class="rss-icon"></a>
            </nav>
        </header>

        <main role="main">
            $body$
            </br>
        </main>
    </body>
</html>
